@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  background-color: rgb(151, 234, 192);
  magin:0px;
  padding: 0px;
}

p {
  margin-block-end: 0%;
  font-size: 1.5vw;
}

h1 {
  margin: 0px;
  font-size:3vw;
}

h2 {
  margin: 0px;
  font-size:1.5vw;
}

h3 {
    margin: 0px;
    font-size:2.2vw;
}

ul {
  font-size: 1.7
}

img {
max-width: 100%;
 height: auto;
}

#title-bar {
  position:fixed;
  width:100%;
}


.home-header {
  float:left;
  width:30%;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}


#waterlooLink {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px;
  color: #000;
  text-decoration: none;
}


#waterlooLink:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

#portfolio {
  width: 8%;
  length: 8%;
  margin-left: 3%;
  margin-right: 3%;
}

#linkedin,#email,#github {
  width: 6%;
  length: 6%;
  margin-left: 3%;
  margin-right: 3%;
}

#github, #email, #linkedin, #portfolio {
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  position: relative;
}

#portfolio:hover, #linkedin:hover, #github:hover, #email:hover {
  fill: white;
}

.navBar {
  z-index: 1;
  position: absolute;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,191,255,0) 16%, rgba(6,194,233,0) 32%, rgba(9,195,223,1) 40%, rgba(31,203,149,1) 74%, rgba(31,203,149,1) 93%, rgba(31,203,149,1) 98%);
  height: 1.5vw;
  width:100%;
  float: right;
  text-align: right;
}

.navBar a {
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-size:1.2vw;
  vertical-align: top;
}

#content {
  width:60%;
  float: right;
  margin-top:12vw;
}

.shape {
  float: left;
  width:30%;
  margin-top: 15%;
  margin-left:5%;
  position:fixed;
}


#projects{
  font-family: 'Roboto Mono', monospace;
  padding: 4% 8%;
  display: inline-block;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  background: #ffffff;
}

#cool {
  font-family: 'Roboto Mono', monospace;
  padding: 4% 8%;
  display: inline-block;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  background: #ffffff;
}

#welcome-p {
  font-family: 'Roboto Mono', monospace;
}


  .hello {
   font-weight: bold;
   margin: 0;
   border-right: 2px solid rgba(255,255,255,.75);
   font-size: 2vw;
   white-space: nowrap;
   overflow: hidden;
   font-family: 'Roboto Mono', 'monospace';
   word-spacing: -2.4%;
   width: 75%;
  }

  .anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(20) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 75%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #e3b644;}
  to{border-right-color: transparent;}
}

#about-section, #project-section, #cool-section {
  height:1.5vw;
}


#eco {
  width: 45%;
  height:45%;
  float: right;
}

#kauri, #devpost, #ecodev {
  text-decoration: none;
  color: #0fbf8e;
}

#enghack {
  text-decoration: none;
  color: #641280;
}

#kauri:hover , #devpost:hover ,#enghack:hover, #ecodev:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.gallery {
  display:grid;
  grid-gap:1%;
  grid-template-columns:[col1-start] 25%  [col2-start] 25%  [col3-start] 25% [col4-start] 25% [col5-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row4-start] auto [row4-end];

}


.one, #p-one {
        grid-column: col3-start / col5-end;
        grid-row: row1-start / row3-start;
    }
#p-one , #p-two , #p-three, #p-four, #p-five, #p-six {
    display:grid;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    opacity: 0;
    transition: opacity .5s;
    text-align: center;
}


#p-one:hover, #p-two:hover,#p-three:hover,#p-four:hover,#p-five:hover ,#p-six:hover {
  opacity: 1;
}


.two, #p-two {
        grid-column: col1-start / col3-start;
        grid-row: row1-start ;
    }

.three, #p-three {
  grid-column: col1-start / col3-start;
  grid-row: row2-start;
}
.four , #p-four {
  grid-column:col3-start / col5-end;
  grid-row:row3-start;
}


.five, #p-five {
  grid-column: col1-start / col3-start;
  grid-row:row3-start / row3-end;
}

.six , #p-six{
  grid-column:col3-start / col5-end;
  grid-row:row4-start;
}
